[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=com.jetbrains.PhpStorm.svg
Exec=phpstorm %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
